<h1>Cocktails just for you</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://static1.villaschweppes.com/articles/4/20/24/@/66154-le-mai-tai-article_top-2.jpg');">
        <div class="card-description">
    <h2>The <%= link_to cocktail.name, cocktail_path(cocktail.id)%></h2>
        </div>
   <!--  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
        </div>
      </div>
    <% end %>
  </div>
</div>


